<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <img src="/img/logo.png" alt="Logo" />
        <h2 class="nombre-header">Heroes</h2>
      </a>
      <nav>
        <a href="/babbage" class="nav-link">Babbage</a>
        <a href="/berners-lee" class="nav-link">Berners-lee</a>
        <a href="/clarke" class="nav-link">Clarke</a>
        <a href="/hamilton" class="nav-link">Hamilton</a>
        <a href="/hopper" class="nav-link">Hopper</a>
        <a href="/lovelace" class="nav-link">Lovelace</a>
        <a href="/turing" class="nav-link">Turing</a>
      </nav>
    </header>
    <h1>Timothy "Tim" John Berners Lee</h1>
    <div class="img-contenedor">
      <img src="/img/Berners-Lee.jpg" alt="Berners-Lee" />
    </div>
    <p>
      Timothy "Tim" John Berners-Lee (Londres, Inglaterra; 8 de junio de 1955),
      es un científico de la computación británico, conocido por ser el padre de
      la World Wide Web. Estableció la primera comunicación entre un cliente y
      un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de
      1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT,
      para supervisar y estandarizar el desarrollo de las tecnologías sobre las
      que se fundamenta la Web y que permiten el funcionamiento de Internet.
    </p>
  </body>
</html>
