<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <img src="/img/logo.png" alt="Logo" />
        <h2 class="nombre-header">Heroes</h2>
      </a>
      <nav>
        <a href="/babbage" class="nav-link">Babbage</a>
        <a href="/berners-lee" class="nav-link">Berners-lee</a>
        <a href="/clarke" class="nav-link">Clarke</a>
        <a href="/hamilton" class="nav-link">Hamilton</a>
        <a href="/hopper" class="nav-link">Hopper</a>
        <a href="/lovelace" class="nav-link">Lovelace</a>
        <a href="/turing" class="nav-link">Turing</a>
      </nav>
    </header>
    <h1>Margaret Hamilton</h1>
    <div class="img-contenedor">
      <img src="/img/Margaret_Hamilton.jpg" alt="Hamilton" />
    </div>
    <p>
      Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica
      computacional, matemática e ingeniera de Software estadounidense. Fue
      directora de la División de Ingeniería de Software del Laboratorio de
      Instrumentación del MIT, donde con su equipo desarrolló el software de
      navegación "on-board" para el Programa Espacial Apolo.
    </p>
  </body>
</html>
