<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <img src="/img/logo.png" alt="Logo" />
        <h2 class="nombre-header">Heroes</h2>
      </a>
      <nav>
        <a href="/babbage" class="nav-link">Babbage</a>
        <a href="/berners-lee" class="nav-link">Berners-lee</a>
        <a href="/clarke" class="nav-link">Clarke</a>
        <a href="/hamilton" class="nav-link">Hamilton</a>
        <a href="/hopper" class="nav-link">Hopper</a>
        <a href="/lovelace" class="nav-link">Lovelace</a>
        <a href="/turing" class="nav-link">Turing</a>
      </nav>
    </header>
    <h1>Grace Murray Hopper</h1>
    <div class="img-contenedor">
      <img src="img/hopper.jpg" alt="Hopper" />
    </div>
    <p>
      Grace Murray Hopper (Nueva York, 9 de diciembre de 1906-Condado de
      Arlington, 1 de enero de 1992) fue una científica de la computación y
      militar estadounidense con grado de contraalmirante. Fue pionera en el
      mundo de las ciencias de la computación y la primera programadora que
      utilizó el Mark I. Entre las décadas de los 50 y 60 desarrolló el primer
      compilador para un lenguaje de programación así como también propició
      métodos de validación. Popularizó la idea de los lenguajes de programación
      independientes de la máquina, lo que derivó en el desarrollo de COBOL, un
      lenguaje de alto nivel de programación que aún se utiliza. Era conocida
      por sus amistades como Amazing Grace.
    </p>
  </body>
</html>
