<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <img src="/img/logo.png" alt="Logo" />
        <h2 class="nombre-header">Heroes</h2>
      </a>
      <nav>
        <a href="/babbage" class="nav-link">Babbage</a>
        <a href="/berners-lee" class="nav-link">Berners-lee</a>
        <a href="/clarke" class="nav-link">Clarke</a>
        <a href="/hamilton" class="nav-link">Hamilton</a>
        <a href="/hopper" class="nav-link">Hopper</a>
        <a href="/lovelace" class="nav-link">Lovelace</a>
        <a href="/turing" class="nav-link">Turing</a>
      </nav>
    </header>
    <h1>Heroes de la computación</h1>
    <h2>Selecciona la opción deseada en el menu de navegación 👆</h2>
  </body>
</html>
