<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroes</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <img src="/img/logo.png" alt="Logo" />
        <h2 class="nombre-header">Heroes</h2>
      </a>
      <nav>
        <a href="/babbage" class="nav-link">Babbage</a>
        <a href="/berners-lee" class="nav-link">Berners-lee</a>
        <a href="/clarke" class="nav-link">Clarke</a>
        <a href="/hamilton" class="nav-link">Hamilton</a>
        <a href="/hopper" class="nav-link">Hopper</a>
        <a href="/lovelace" class="nav-link">Lovelace</a>
        <a href="/turing" class="nav-link">Turing</a>
      </nav>
    </header>
    <h1>Ada Lovelace</h1>
    <div class="img-contenedor">
      <img src="/img/Ada_Lovelace.jpg" alt="Lovelace" />
    </div>
    <p>
      Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de
      1815-íd., 27 de noviembre de 1852), registrada al nacer como Augusta Ada
      Byron y conocida habitualmente como Ada Lovelace, fue una matemática y
      escritora británica, célebre sobre todo por su trabajo acerca de la
      computadora mecánica de uso general de Charles Babbage, la denominada
      máquina analítica. Fue la primera en reconocer que la máquina tenía
      aplicaciones más allá del cálculo puro y en haber publicado lo que se
      reconoce hoy como el primer algoritmo destinado a ser procesado por una
      máquina, por lo que se la considera como la primera programadora de
      ordenadores.
    </p>
  </body>
</html>
